In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Duplicate.csv")

print (df)

   id first_name   last_name                        email  gender  \
0   1    Jilleen     Brugsma       jbrugsma0@japanpost.jp  Female
1   2     Andrus  Boughtwood  aboughtwood1@feedburner.com    Male
2   3    Pabitra     Banchod          gudmarani@gmail.com   gmail
3   3    Pabitra     Banchod          gudmarani@gmail.com   gmail
4   3    Pabitra     Banchod          gudmarani@gmail.com   gmail
5   3    Pabitra     Banchod          gudmarani@gmail.com   gmail
6   3    Pabitra     Banchod          gudmarani@gmail.com   gmail

        ip_address
0  148.179.230.124
1     2.204.83.218
2  145.451.545.454
3  145.451.545.454
4  145.451.545.454
5  145.451.545.454
6  145.451.545.454

In [3]:
df.drop_duplicates()

,id,first_name,last_name,email,gender,ip_address
0,1,Jilleen,Brugsma,jbrugsma0@japanpost.jp,Female,148.179.230.124
1,2,Andrus,Boughtwood,aboughtwood1@feedburner.com,Male,2.204.83.218
2,3,Pabitra,Banchod,gudmarani@gmail.com,gmail,145.451.545.454